/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*CSS Yahoo new version style pagination*/
	div.pagination {
		padding: 3px;
		margin: 2px;
		text-align:center;
		font-family:Tahoma,Helvetica,sans-serif;
		font-size:11px;

	}
	
	div.pagination a {
		border: 1px solid #ccdbe4;
		margin-right:1px;
		padding:2px 8px;

		border: 1px solid #2b55af;
		background-image:none;
		background-color:#3666d4;
		color: #fff;
		text-decoration: none;
	}
	div.pagination a:hover, div.pagination a:active {
		background-position:bottom;
		background-color:#ccdbe4;
		text-decoration: none;
		color: #0061de;	
	}
	div.pagination span.current {
		margin-right:2px;
		padding:2px 6px;
		
		font-weight: bold;
		color: #000;
	}
	div.pagination span.disabled {
		display:none;
	}
	div.pagination a.next{
		border:2px solid #ccdbe4;
		margin:0 0 0 5px;
		background-color:#ccdbe4;
		text-decoration: none;		
	}
	div.pagination a.next:hover{
		border:2px solid #0061de;
		background-color:#ccdbe4;
		text-decoration: none;		
	}
	div.pagination a.prev{
		border:2px solid #ccdbe4;
		margin:0 10px 0 0;
	}
	div.pagination a.prev:hover{
		border:2px solid #0061de;
		background-color:#ccdbe4;
		text-decoration: none;		
	}
